@use '../variables.scss' as *;
@use 'sass:map';
@use 'sass:list';

$sides: (top, bottom, left, right);
$corners: (top-left, top-right, bottom-left, bottom-right);
$max: 256;

@mixin radius($side, $value) {
  @if $side == all {
    border-radius: $value * $n;
  } @else if list.index($corners, $side) {
    border-#{$side}-radius: $value * $n;
  } @else {
    $map: (
      top: (border-top-left-radius, border-top-right-radius),
      bottom: (border-bottom-left-radius, border-bottom-right-radius),
      left: (border-top-left-radius, border-bottom-left-radius),
      right: (border-top-right-radius, border-bottom-right-radius)
    );

    @each $prop in map.get($map, $side) {
      #{$prop}: $value * $n;
    }
  }
}

@for $i from 0 through $max {
  // Все стороны
  .ra-#{$i} { @include radius(all, $i); }
  
  // Отдельные стороны (2 угла)
  @each $side in $sides {
    .r-#{$side}-#{$i} { @include radius($side, $i); }
  }
  
  // Отдельные углы
  @each $corner in $corners {
    .r-#{$corner}-#{$i} { @include radius($corner, $i); }
  }
}