@use '../variables.scss' as *;

@mixin space($property, $side, $value) {
  @if $side == all {
    #{$property}: $value * $n;
  } @else if $side == x {
    #{$property}-left: $value * $n;
    #{$property}-right: $value * $n;
  } @else if $side == y {
    #{$property}-top: $value * $n;
    #{$property}-bottom: $value * $n;
  } @else {
    #{$property}-#{$side}: $value * $n;
  }
}

@mixin space-percent($property, $side, $value) {
  $val: #{$value} + "%";
  @if $side == all {
    #{$property}: $val;
  } @else if $side == x {
    #{$property}-left: $val;
    #{$property}-right: $val;
  } @else if $side == y {
    #{$property}-top: $val;
    #{$property}-bottom: $val;
  } @else {
    #{$property}-#{$side}: $val;
  }
}

$sides: (top, bottom, left, right);
$axes: (x, y);
$max: 256;

@for $i from 0 through $max {
  @each $side in $sides {
    .p-#{$side}-#{$i}  { @include space(padding, $side, $i); }
    .m-#{$side}-#{$i}  { @include space(margin,  $side, $i); }

    .m-#{$side}-#{$i}m { @include space(margin,  $side, -$i); }
    .m-#{$side}-#{$i}p { @include space-percent(margin,  $side, $i); }
  }

  @each $axis in $axes {
    .p-#{$axis}-#{$i}  { @include space(padding, $axis, $i); }
    .m-#{$axis}-#{$i}  { @include space(margin,  $axis, $i); }

    .m-#{$axis}-#{$i}m { @include space(margin,  $axis, -$i); }
    .m-#{$axis}-#{$i}p { @include space-percent(margin,  $axis, $i); }
  }

  .pa-#{$i}  { @include space(padding, all, $i); }
  .ma-#{$i}  { @include space(margin,  all, $i); }
  .g-#{$i}   { @include space(gap,     all, $i); }

  .ma-#{$i}m { @include space(margin,  all, -$i); }
  .ma-#{$i}p { @include space-percent(margin,  all, $i); }
}

