@use '../variables.scss' as *;

// Mixin for generating spacing classes (padding, margin, gap)
@mixin space($property, $side, $value) {
  @if $side == all {
    #{$property}: $value * $n;
  } @else if $side == x {
    #{$property}-left: $value * $n;
    #{$property}-right: $value * $n;
  } @else if $side == y {
    #{$property}-top: $value * $n;
    #{$property}-bottom: $value * $n;
  } @else {
    #{$property}-#{$side}: $value * $n;
  }
}

// Mixin for generating percentage-based spacing classes
@mixin space-percent($property, $side, $value) {
  $val: #{$value} + "%";
  @if $side == all {
    #{$property}: $val;
  } @else if $side == x {
    #{$property}-left: $val;
    #{$property}-right: $val;
  } @else if $side == y {
    #{$property}-top: $val;
    #{$property}-bottom: $val;
  } @else {
    #{$property}-#{$side}: $val;
  }
}

// List of sides for spacing
$sides: (top, bottom, left, right);

// List of axes for spacing
$axes: (x, y);

// Maximum spacing value
$max: 256;

// Generate spacing classes
@for $i from 0 through $max {
  @each $side in $sides {
    .p-#{$side}-#{$i}  { @include space(padding, $side, $i); } // padding
    .m-#{$side}-#{$i}  { @include space(margin,  $side, $i); } // margin

    .m-#{$side}-#{$i}m { @include space(margin,  $side, -$i); } // negative margin
    .m-#{$side}-#{$i}p { @include space-percent(margin,  $side, $i); } // percentage margin
  }

  @each $axis in $axes {
    .p-#{$axis}-#{$i}  { @include space(padding, $axis, $i); } // padding
    .m-#{$axis}-#{$i}  { @include space(margin,  $axis, $i); } // margin

    .m-#{$axis}-#{$i}m { @include space(margin,  $axis, -$i); } // negative margin
    .m-#{$axis}-#{$i}p { @include space-percent(margin,  $axis, $i); } // percentage margin
  }

  .pa-#{$i}  { @include space(padding, all, $i); } // padding all
  .ma-#{$i}  { @include space(margin,  all, $i); } // margin all
  .g-#{$i}   { @include space(gap,     all, $i); } // gap all

  .ma-#{$i}m { @include space(margin,  all, -$i); } // negative margin all
  .ma-#{$i}p { @include space-percent(margin,  all, $i); } // percentage margin all
}
