@use './variables.scss' as *;

// Import mixins
@use './mixins/spacing';
@use './mixins/absolute';
@use './mixins/radius';
@use './mixins/typography';
@use './mixins/colors';
@use './mixins/flex';
@use './mixins/misc';
@use './mixins/size';
@use './mixins/grid';
@use './mixins/align';

// Global reset
* {
  box-sizing: border-box;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  border: none;
  outline: none;
  transition: all .333s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: relative;
  text-decoration: none;
  list-style: none;
}

:root {
    --background: #{$black};
    --color: #{$white};
}

body {
    background-color: var(--background);
    color: var(--color);
}